/* assets/css/styles.css */

/* Estilos globais */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos do menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: black;
}

.menu nav ul {
  list-style: none;
  display: flex;
  margin-right: 45px;
  padding: 0;
}

.menu nav ul li {
  margin-left: 20px;
}

.menu nav ul li:hover {
  transition: ease-in-out;
  border-bottom: 1px solid #000000;
}

/* Estilos do conteúdo */
.content {
  margin-top: 60px; /* Igual à altura do menu */
  padding: 20px;
  flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos das seções */
section {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

/* Estilos do rodapé */
footer {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}

/* Estilos do ícone de copyright */
#icon_copyright {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

/* Estilos do formulário */
#form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Aumenta a largura máxima do formulário */
  width: 100%;
}

#form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

#form div {
  margin-bottom: 15px;
}

#form label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

#form input,
#form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

#form textarea {
  resize: none;
  height: 100px;
}

#form .button {
  text-align: center;
}

#form button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#form button:hover {
  background-color: #0056b3;
}